<% downloadable_uris = [
  ["vrx", ["position", "scale", "rotation"]],
  ["target", ["physical_width"]],
  ["mp3", ["is_spatial_sound", "min_distance", "max_distance", "position", "rolloff_model"]],
  ["mp4", ["position", "scale", "rotation", "chroma_key_filtered_video"]],
  ["image", ["position", "scale", "rotation"]],
  ["texture", nil],
  ["texture", nil],
  ["texture", nil],
  ["texture", nil],
  ["texture", nil],
  ["texture", nil],
  ["texture", nil],
  ["texture", nil],
  ["texture", nil],
  ["texture", nil]
] %>
<% payload = record.payload || {} %>
<% payload_downloadable_uris = payload.dig("downloadableUris") || [] %>

<div class="row">
  <div class="col">
    <h5>Augmented Reality</h5>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <%= label_tag "tour_tour_stops_#{index}_payload_location_info", "Kurzinfo zum Stopp" %>
      <%= text_field_tag(
            "tour_tour_stops_#{index}_payload_location_info",
            payload["locationInfo"],
            class: "form-control",
            name: "tour[tour_stops[#{index}]][payload][location_info]"
          )%>
    </div>
  </div><div class="col-lg-6">
    <div class="form-group">
      <%= label_tag "tour_tour_stops_#{index}_payload_animation_name", "Name der Animation" %>
      <%= text_field_tag(
            "tour_tour_stops_#{index}_payload_animation_name",
            payload["animationName"],
            class: "form-control",
            name: "tour[tour_stops[#{index}]][payload][animation_name]"
          )%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <%= label_tag "tour_tour_stops_#{index}_payload_total_size", "Paketgröße (in Bytes)" %>
      <%= text_field_tag(
            "tour_tour_stops_#{index}_payload_total_size",
            payload["totalSize"],
            class: "form-control",
            name: "tour[tour_stops[#{index}]][payload][total_size]"
          )%>
    </div>
  </div>
</div>

<% downloadable_uris.each_with_index do |downloadable_uri, downloadable_uri_index| %>
  <% downloadable_uri_type, downloadable_uri_type_fields = downloadable_uri %>

  <div class="row">
    <div class="col">
      <b><%= downloadable_uri_type.upcase %></b>
    </div>
  </div>

  <%= hidden_field_tag "tour[tour_stops[#{index}]][payload][downloadable_uris][#{downloadable_uri_index}][id]", downloadable_uri_index %>
  <%= hidden_field_tag "tour[tour_stops[#{index}]][payload][downloadable_uris][#{downloadable_uri_index}][type]", downloadable_uri_type %>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= label_tag "tour_tour_stops_#{index}_payload_downloadable_uris_#{downloadable_uri_index}_title", "Bezeichnung" %>
        <%= text_field_tag(
              "tour_tour_stops_#{index}_payload_downloadable_uris_#{downloadable_uri_index}_title",
              payload_downloadable_uris.dig(downloadable_uri_index, "title"),
              class: "form-control",
              name: "tour[tour_stops[#{index}]][payload][downloadable_uris][#{downloadable_uri_index}][title]"
            )%>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <%= label_tag "tour_tour_stops_#{index}_payload_downloadable_uris_#{downloadable_uri_index}_uri", "Url" %>
        <%= text_field_tag(
              "tour_tour_stops_#{index}_payload_downloadable_uris_#{downloadable_uri_index}_uri",
              payload_downloadable_uris.dig(downloadable_uri_index, "uri"),
              class: "form-control",
              name: "tour[tour_stops[#{index}]][payload][downloadable_uris][#{downloadable_uri_index}][uri]"
            )%>

        <%= render partial: "tours/form_partials/ar_file_upload" %>
      </div>
    </div>
  </div>

  <% if downloadable_uri_type_fields.present? %>
    <div class="row">
      <% downloadable_uri_type_fields.each do |downloadable_uri_type_field| %>
        <div class="col-6">
          <div class="form-group">
            <%= label_tag "tour_tour_stops_#{index}_payload_downloadable_uris_#{downloadable_uri_index}_#{downloadable_uri_type_field}", downloadable_uri_type_field.humanize %>
            <%= text_field_tag(
                  "tour_tour_stops_#{index}_payload_downloadable_uris_#{downloadable_uri_index}_#{downloadable_uri_type_field}",
                  payload_downloadable_uris.dig(downloadable_uri_index, downloadable_uri_type_field.camelize(:lower)).to_s,
                  class: "form-control",
                  name: "tour[tour_stops[#{index}]][payload][downloadable_uris][#{downloadable_uri_index}][#{downloadable_uri_type_field}]"
                )%>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
