<%= fields_for :job, job do |f|  %>
  <%= hidden_field_tag "job[generic_type]", @job.generic_type %>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="description">Stellenanzeige *</label>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
  </div>

  <%= render partial: "jobs/form_partials/job_contacts", locals: { job: job, form: f } %>

  <%= render partial: "jobs/form_partials/job_content", locals: { job: job, form: f } %>

  <hr />

  <div class="row">
    <div class="col pb-4">
      <%= f.submit "Speichern", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
