<div class="d-flex flex-wrap align-items-center row-gap justify-content-between mb-5">
  <h1 class="h3 mb-0 pb-0 font-weight-bold mr-3">Fristen- und Aktionsmelder</h1>
  <%= link_to new_deadline_path, class: "btn btn-sm btn-primary shadow-sm" do %>
    <i class="fas fa-plus fa-sm text-white-50"></i>
    Neue Frist- oder Aktionsmeldung erstellen
  <% end %>
</div>

<div class="table-responsive pb-4">
  <table class="table data_table bg-white">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titel</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Termin</th>
        <th scope="col">Änderungsdatum</th>
        <th scope="col">Erstellungsdatum</th>
        <% if editor? %>
          <th>Datenquelle</th>
        <% end %>
        <th scope="col" class="nosort">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% @deadlines.each do |deadline| %>
        <tr>
          <th scope="row"><%= deadline.id %></th>
          <td><%= link_to deadline.title, edit_deadline_path(deadline.id) %></td>
          <td><%= deadline.categories.first.try(:name) || "" %></td>
          <td><%= toLocalDate(deadline.dates.try(:first).try(:date_start)) %></td>
          <td data-sort="<%= DateTime.parse(deadline.updated_at).to_i %>">
            <%= toLocalDateTime(deadline.updated_at) %>
          </td>
          <td data-sort="<%= DateTime.parse(deadline.created_at).to_i %>">
            <%= toLocalDateTime(deadline.created_at) %>
          </td>
          <% if editor? %>
            <td><%= deadline.data_provider.try(:name) %></td>
          <% end %>
          <td align="right" class="text-nowrap">
            <%= link_to "Bearbeiten", edit_deadline_path(deadline.id), class: "btn btn-sm btn-secondary" %>
            <%= link_to deadline_path(deadline.id), method: :delete, "data-confirm" => "Diesen Eintrag wirklich löschen?", class: "btn btn-sm btn-danger", title: "Löschen" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
