<div class="d-sm-flex align-items-center justify-content-between">
  <h1 class="h3 mb-0 text-gray-800">Touren</h1>
</div>

<table class="table data_table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">updated at</th>
      <th scope="col">created at</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <th scope="row"><%= tour.id %></th>
        <td><%= tour.name %></td>
        <td><%= tour.updated_at %></td>
        <td><%= tour.created_at %></td>
        <td>
          <%= link_to "Bearbeiten", edit_tour_path(tour.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
