<% list_of_content_blocks = news_item.content_blocks.presence || [OpenStruct.new] %>
<% list_of_content_blocks.each_with_index do |content_block, index| %>
  <div id="nested-media">
    <%= form.fields_for "content_blocks[#{index}]", content_block do |fmc, index| %>
      <div id="nested-medium-form">
        <h4>Kapitel</h4>

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="description">Titel</label>
              <%= fmc.text_field :title, class: "form-control" %>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="description">Teaser</label>
              <%= fmc.text_area :intro, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="description">Main Content</label>
              <%= fmc.text_area :body, class: "form-control" %>
            </div>
          </div>
        </div>
        <hr />
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary d-sm-flex align-items-center justify-content-between">
              Media
              <input type="button" value="Medium hinzufügen" id="nested-add-medium" class="btn btn-sm btn-secondary"/>
            </h6>
          </div>
          <div class="card-body">
            <%= render partial: "shared/partials/media_contents_form", locals: { record: content_block, form: fmc } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
