<%= fields_for :news_item, news_item do |f|  %>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="description">Hauptüberschrift *</label>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="description">Autor*in</label>
        <%= f.text_field :author, class: "form-control" %>
      </div>
    </div>
  </div>

  <!-- TODO: Wird erstmal nicht benötigt
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="description">gewünschtes Veröffentlichungsdatum</label>
          <%= f.date_field :publication_date, class: "form-control", value: f.object.publication_date %>
        </div>
      </div>
  -->

  <%= hidden_field_tag "news_item[publication_date]", Time.now %>

  <!-- TODO: Wird erstmal nicht benötigt
      <div class="col-lg-6">
        <div class="form-group">
          <label for="description">Veröffentlichungsdatum</label>
          <%= f.date_field :published_at, class: "form-control", value: f.object.published_at %>
        </div>
      </div>
    </div>
  -->

  <%= hidden_field_tag "news_item[published_at]", Time.now %>

  <div class="row mb-5">
    <div class="col">
      <h2 class="d-sm-flex align-items-center justify-content-between mb-4">
        Bereiche
      </h2>
      <p>
        Jede Nachricht kann aus einem oder mehreren Breichen bestehen - so wie ein Buch aus verschiedenen Kapiteln besteht.
        Jeder Bereich kann eine Überschrift, einen Text und Bilder oder Videos haben. Dabei sind all diese
        Elemente optional und müssen nicht in jedem Bereich enthalten sein. So können Sie aus den Zusammenspiel von mehreren Bereichen
        mit unterschiedlichen Inhaltsarten interessante und abwechslungreichen Texte erstellen.
      <p>
      <p>
        Hinweis: Sie müssen die Hauptüberschrift im ersten Bereich nicht wiederholen, da sie sonst auch doppelt in der App erscheint.
      </p>

      <%= render partial: "news_items/form_partials/content_blocks_form", locals: { news_item: news_item, form: f } %>

      <input
        type="button"
        value="weiteren Bereich hinzufügen"
        id="nested-add-content-block"
        class="btn btn-sm btn-secondary"
      />
    </div>
  </div>

  <!-- Wird erstmal nicht benötigt
    <div class="row">
      <div class="col">
        <h2 class="d-sm-flex align-items-center justify-content-between mb-4">
          Adresse
        </h2>
      </div>
    </div>
  -->

  <%#= f.fields_for :address do |fadd|  %>
    <%#= render partial: "shared/partials/address_form", locals: { form: fadd, address: @news_item.address } %>
  <%# end %>

  <div class="row">
    <div class="col pb-4">
      <%= f.submit "Speichern", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
