<%= fields_for :survey, survey do |f|  %>
  <%= f.hidden_field :id, name: "survey[id]" %>
  <div class="row">
    <div class="col">
      <% @languages.each do |language| %>
        <div class="form-group">
          <label for="description">Titel (<%= language %>)</label>
          <%= f.text_field "title_#{language}", name: "survey[title][#{language}]", class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% @languages.each do |language| %>
        <div class="form-group">
          <label for="description">Beschreibung (<%= language %>)</label>
          <%= f.text_area "description_#{language}", name: "survey[description][#{language}]", class: "form-control", rows: 3 %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= f.hidden_field :question_id, name: "survey[question_id]" %>
    <div class="col">
      <% @languages.each do |language| %>
        <div class="form-group">
          <label for="description">Frage (<%= language %>) *</label>
          <%= f.text_field "question_title_#{language}", name: "survey[question_title][#{language}]", class: "form-control", required: true %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render(
      partial: "shared/partials/dates_form",
      locals: {
        record: survey,
        form: f,
        fields: ['date_start', 'date_end'],
        requireds: ['date_start', 'date_end'],
        labels: {
          date_start: "Startdatum",
          date_end: "Enddatum"
        },
        values: {
          date_start: Time.now.to_date
        }
    }) %>

  <div class="row">
    <div class="col">
      <h2 class="d-sm-flex align-items-center justify-content-between my-4">
        Antwortmöglichkeiten
      </h2>

      <p>
        Sie können den Text der Antworten jederzeit bearbeiten.
        Das Löschen einer Antwort ist aber nur möglich, wenn für diese noch keine
        Stimmen abgegeben wurden.
      </p>

      <% if @languages.present? %>
        <p>
          <small>
            (min. 2, max. 10, Zeichenlänge max. 150, in <%= @languages.join(" und ") %>)
          </small>
        </p>
      <% end %>

      <%= render partial: "surveys/form_partials/response_options_form", locals: { survey: survey, form: f  } %>
    </div>
  </div>

  <hr />

  <div class="row justify-content-center pb-4">
    <%= f.submit "Speichern", class: "btn btn-primary btn--big" %>
  </div>
<% end %>
