<div class="d-sm-flex align-items-center justify-content-between">
  <h1 class="h3 mb-0 text-gray-800">Gewerbliche Anzeigen</h1>
  <%= link_to new_offer_path,  class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
    <i class="fas fa-plus fa-sm text-white-50"></i>
    Neue Gewebrliche Anzeigen erstellen
  <% end %>
</div>

<div class="pb-4">
  <table class="table data_table bg-white">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titel</th>
        <th scope="col">CreatedAt</th>
        <th scope="col">Payload</th>
        <th scope="col">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td scope="row"><%= offer.id %></td>
          <td scope="row"><%= offer.title %></td>
          <td scope="row"><%= offer.created_at %></td>
          <td scope="row"><%= offer.payload %></td>
          <td align="right" class="text-nowrap">
            <%= link_to "Bearbeiten", edit_offer_path(offer.id), class: "btn btn-sm btn-secondary" %>
            <%= link_to offer_path(offer.id), method: :delete, "data-confirm" => "Diesen Eintrag wirklich löschen?", class: "btn btn-sm btn-danger", title: "Löschen" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
