<div class="d-flex flex-wrap align-items-center row-gap justify-content-between mb-5">
  <h1 class="h3 mb-0 pb-0 font-weight-bold mr-3">Baustellen</h1>
  <%= link_to new_construction_path, class: "btn btn-sm btn-primary shadow-sm" do %>
    <i class="fas fa-plus fa-sm text-white-50"></i>
    Neue Baustelle erstellen
  <% end %>
</div>

<div class="table-responsive pb-4">
  <table class="table data_table bg-white">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Überschrift</th>
        <th scope="col">Startdatum</th>
        <th scope="col">Enddatum</th>
        <th scope="col">Änderungsdatum</th>
        <th scope="col">Erstellungsdatum</th>
        <% if editor? || extended_user? %>
          <th>Datenquelle</th>
        <% end %>
        <th scope="col" class="nosort">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <% @constructions.each do |construction| %>
        <tr>
          <th scope="row"><%= construction.id %></th>
          <td><%= link_to construction.title, edit_construction_path(construction.id) %></td>
          <td data-sort="<%= to_unix_timestamp(construction.dates.try(:first).try(:date_start)) %>">
            <%= to_local_date(construction.dates.try(:first).try(:date_start)) %>
          </td>
          <td data-sort="<%= to_unix_timestamp(construction.dates.try(:first).try(:date_end)) %>">
            <%= to_local_date(construction.dates.try(:first).try(:date_end)) %>
          </td>
          <td data-sort="<%= DateTime.parse(construction.updated_at).to_i %>">
            <%= to_local_date_time(construction.updated_at) %>
          </td>
          <td data-sort="<%= DateTime.parse(construction.created_at).to_i %>">
            <%= to_local_date_time(construction.created_at) %>
          </td>
          <% if editor? || extended_user? %>
            <td><%= construction.data_provider.try(:name) %></td>
          <% end %>
          <td align="right" class="text-nowrap">
            <%= link_to "Bearbeiten", edit_construction_path(construction.id), class: "btn btn-sm btn-secondary" %>
            <%= link_to construction_path(construction.id), method: :delete, "data-confirm" => "Diesen Eintrag wirklich löschen?", class: "btn btn-sm btn-danger", title: "Löschen" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
