<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <label for="description">Ortsbezeichnung</label>
      <%= form.text_field :addition, class: "form-control" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="form-group">
      <label for="description">Straße</label>
      <%= form.text_field :street, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <label for="description">PLZ</label>
      <%= form.text_field :zip, class: "form-control" %>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="form-group">
      <label for="description">Stadt</label>
      <%= form.text_field :city, class: "form-control" %>
    </div>
  </div>
</div>

<!-- TODO:  Als Hidden mitsenden :Default
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="description">Art</label>
        <%= form.select :kind, options_for_select(["default", "start", "end"]), class: "form-control" %>
      </div>
    </div>
  </div>
-->

<div class="row">
  <div class="col">
    <h5>Geo-Koordinaten</h5>
  </div>
</div>

<%= form.fields_for :geo_location, address.try(:geo_location) || OpenStruct.new do |fgeo|  %>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="description">Latitude</label>
        <%= fgeo.text_field :latitude, class: "form-control" %>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="description">Longitude</label>
        <%= fgeo.text_field :longitude, class: "form-control" %>
      </div>
    </div>
  </div>
<% end %>
