<% fields ||= ['date_start', 'date_end'] %>
<% requireds ||= [] %>
<% labels ||= { date_start: "Startdatum *", date_end: "Enddatum" } %>
<% list_of_dates = record.dates.presence || [OpenStruct.new] %>
<% date_end ||= nil %>

<div id="nested-dates">
  <% list_of_dates.each_with_index do |date, index| %>
    <%= form.fields_for "dates[#{index}]", date do |fd|  %>
      <div class="nested-date-form">
        <div class="row">
          <% if fields.include?('date_start') %>
            <div class="col-12 col-sm-<%= 12 / fields.count %>">
              <div class="form-group">
                <label for="description"><%= labels[:date_start] %></label>
                <%= fd.date_field :date_start, class: "form-control", value: fd.object.date_start %>
              </div>
            </div>
          <% end %>
          <% if fields.include?('date_end') %>
            <div class="col-12 col-sm-<%= 12 / fields.count %>">
              <div class="form-group">
                <label for="description">
                  <%= labels[:date_end] %>
                  <% if requireds.include?("date_end")%>
                    *
                  <% end %>
                </label>
                <%= fd.date_field(
                      :date_end,
                      required: requireds.include?("date_end"),
                      class: "form-control",
                      value: fd.object.date_end || date_end
                    ) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
