<% fields ||= ["date_start", "date_end"] %>
<% force_visibility ||= false %>
<% requireds ||= [] %>
<% labels ||= {
     date_start: "Startdatum",
     date_end: "Enddatum",
     time_start: "Startzeit",
     time_end: "Endzeit"
   } %>
<% values ||= {} %>
<% list_of_dates = record.dates.presence || [OpenStruct.new] %>

<%#
  response options of a survey can have just one `date`,
  so we need to check for that and build a dates array
%>
<% if record.try(:date).present? %>
  <% list_of_dates = [record.date] %>
<% end %>

<div id="nested-dates">
  <% list_of_dates.each_with_index do |date, index| %>
    <%= form.fields_for "dates[#{index}]", date do |fd| %>
      <div class="nested-date-form<%= " d-none" if !force_visibility && empty?(date, fields) %>">
        <div class="row">
          <% if fields.include?("date_start") %>
            <div class="col-12 col-sm-<%= 12 / fields.count %>">
              <div class="form-group">
                <label for="description">
                  <%= labels[:date_start] %>
                  <% if requireds.include?("date_start")%>
                    *
                  <% end %>
                </label>
                <%= fd.date_field(
                      :date_start,
                      required: requireds.include?("date_start"),
                      class: "form-control",
                      value: fd.object.date_start || values[:date_start].presence
                    ) %>
              </div>
            </div>
          <% end %>
          <% if fields.include?("date_end") %>
            <div class="col-12 col-sm-<%= 12 / fields.count %>">
              <div class="form-group">
                <label for="description">
                  <%= labels[:date_end] %>
                  <% if requireds.include?("date_end")%>
                    *
                  <% end %>
                </label>
                <%= fd.date_field(
                      :date_end,
                      required: requireds.include?("date_end"),
                      class: "form-control",
                      value: fd.object.date_end || values[:date_end].presence
                    ) %>
              </div>
            </div>
          <% end %>
        </div>

        <% if fields.include?("time_start") || fields.include?("time_end") %>
          <div class="row">
            <% if fields.include?("time_start") %>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="description">
                    <%= labels[:time_start] %>
                    <% if requireds.include?("time_start")%>
                      *
                    <% end %>
                  </label>
                  <%= fd.time_field(
                        :time_start,
                        required: requireds.include?("time_start"),
                        class: "form-control",
                        value: fd.object.time_start || values[:time_start].presence
                      ) %>
                </div>
              </div>
            <% end %>
            <% if fields.include?("time_end") %>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="description">
                    <%= labels[:time_end] %>
                    <% if requireds.include?("time_end")%>
                      *
                    <% end %>
                  </label>
                  <%= fd.time_field(
                        :time_end,
                        required: requireds.include?("time_end"),
                        class: "form-control",
                        value: fd.object.time_end || values[:time_end].presence
                      ) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $('#construction_dates_0__date_start').change(function() {
    $('#construction_dates_0__date_end').val($('#construction_dates_0__date_start').val())
  });
</script>
