<div class="file-upload-wrapper">
  <button class="btn btn-primary upload-toggle" type="button" data-index="<%= index %>">
    Bild vom Computer hochladen
  </button>

  <div class="mt-3">
    <input style="display: none" class="form-control-file file-input file-input-<%= index %>" type="file" data-index="<%= index %>">
    <div class="upload-progress upload-progress-<%= index %>">
      <div class="progress">
        <div
            class="progress-bar upload-progress-bar upload-progress-bar-<%= index %>"
            role="progressbar"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100">
        </div>
      </div>
    </div>
  </div>
</div>
