<div class=file-upload-wrapper">
  <p>
  <button
      class="btn btn-primary upload-toggle"
      type="button"
      data-toggle="collapse"
      data-target=".file-upload-collapse-<%= index %>"
      data-index="<%= index %>"
      aria-expanded="false"
      aria-controls="collapseExample">
      Datei vom Computer hochladen
  </button>
  </p>
  <div class="collapse file-upload-collapse file-upload-collapse-<%= index %>">
    <div class="card card-body">
      <input style="display: none" class="form-control-file file-input file-input-<%= index %>" type="file" data-index="<%= index %>">
      <div class="upload-progress upload-progress-<%= index %>">
        <div class="progress">
          <div
              class="progress-bar upload-progress-bar upload-progress-bar-<%= index %>"
              role="progressbar"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100">
          </div>
        </div>
      </div>
      <div class="image-preview-wrapper image-preview-wrapper-<%= index %>">
        <label>Bildvorschau:</label>
        <img src="" class="image-preview image-preview-<%= index %>" />
      </div>
    </div>
  </div>
</div>
