<div class="row">
  <div class="col">
    <h3 class="d-sm-flex align-items-center justify-content-between mb-4">
      Preis Information
      <input type="button" value="Preis hinzufügen" id="nested-add-event-prices" class="btn btn-sm btn-secondary"/>
    </h3>
  </div>
</div>

<% event.price_informations.each do |price| %>
  <div id="nested-event-prices">
  <%= fields_for :price_information, price do |fp|  %>
    <div id="nested-event-price-form">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="description">Name</label>
            <%= fp.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="description">Preis</label>
            <%= fp.text_field :amount, class: "form-control" %>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label for="description">Gruppenpreis</label>
            <%= fp.check_box :group_price, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="description">Mindestalter</label>
            <%= fp.text_field :age_from, class: "form-control" %>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label for="description">Höchstalter</label>
            <%= fp.text_field :age_to, class: "form-control" %>
          </div>
        </div>
      </div>

      <input type="button" value="Preis entfernen" class="remove btn btn-sm btn-danger">
      <hr />
    </div>
  <% end %>
  </div>
<% end %>
