<% list_of_dates = event.dates.presence || [OpenStruct.new] %>

<div id="nested-event-dates">
  <% list_of_dates.each_with_index do |date, index| %>
    <%= fields_for "event[dates][#{index}]", date do |fd|  %>
      <div class="nested-event-date-form">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="description">Startdatum *</label>
              <%= fd.text_field :date_start, class: "form-control" %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="description">Enddatum</label>
              <%= fd.text_field :date_end, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="description">Startzeit *</label>
              <%= fd.text_field :time_start, class: "form-control" %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="description">Endzeit</label>
              <%= fd.text_field :time_end, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
