<!-- Nav Item - Dashboard -->
<li class="nav-item <%= 'active' if params[:controller] == 'dashboard' %>">
  <a class="nav-link font-weight-bold" href="/">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span>
  </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider my-0" />


<!-- Nav Item - News -->
<% if visible_in_role?("role_news_item") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'news_items' %>">
    <a class="nav-link" href="/news_items">
      <i class="fas fa-fw fa-newspaper"></i>
      <span>Nachrichten</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - Events -->
<% if visible_in_role?("role_event_record") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'events' %>">
    <a class="nav-link" href="/events">
      <i class="fas fa-fw fa-calendar-alt"></i>
      <span>Veranstaltungen</span></a>
  </li>
<% end %>

<!-- Nav Item - POIs -->
<% if visible_in_role?("role_point_of_interest") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'point_of_interests' %>">
    <a class="nav-link" href="/point_of_interests">
      <i class="fas fa-fw fa-map-pin"></i>
      <span>Orte</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - Tours -->
<% if visible_in_role?("role_tour") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'tours' %>">
    <a class="nav-link" href="/tours">
      <i class="fas fa-fw fa-walking"></i>
      <span>Touren</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - Jobs -->
<% if visible_in_role?("role_job") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'jobs' %>">
    <a class="nav-link" href="/jobs">
      <i class="fas fa-fw fa-briefcase"></i>
      <span>Stellenanzeigen</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - Offers -->
<% if visible_in_role?("role_offer") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'offers' %>">
    <a class="nav-link" href="/offers">
      <i class="fas fa-fw fa-building"></i>
      <span>Werbliche Anzeigen</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - Constructions -->
<% if visible_in_role?("role_constuction_site") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'constructions' %>">
    <a class="nav-link" href="/constructions">
      <i class="fas fa-fw fa-tools"></i>
      <span>Baustellen</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - WasteCalendar -->
<% if visible_in_role?("role_waste_calendar") %>
  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <li class="nav-item <%= 'active' if params[:controller] == 'waste_calendar' %>">
    <a class="nav-link" href="/waste_calendar">
      <i class="fas fa-fw fa-trash-alt"></i>
      <span>Abfallkalender</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - Surveys -->
<% if visible_in_role?("role_survey") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'surveys' || params[:controller] == 'survey_comments' %>">
    <a class="nav-link" href="/surveys">
      <i class="fas fa-fw fa-chart-bar"></i>
      <span>Umfragen</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - Push Notifications -->
<% if visible_in_role?("role_push_notification") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'push_notifications' %>">
    <a class="nav-link" href="/push_notifications/new">
      <i class="fas fa-fw fa-bullhorn"></i>
      <span>Push-Notifications</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - Encounters -->
<% if visible_in_role?("role_encounter_support") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'encounters_supports' %>">
    <a class="nav-link" href="/encounters_supports">
      <i class="fas fa-fw fa-handshake"></i>
      <span>Begegnungen</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - StaticContents -->
<% if visible_in_role?("role_static_contents") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'static_contents' %>">
    <a class="nav-link" href="/static_contents">
      <i class="fas fa-fw fa-file-alt"></i>
      <span>Statische Inhalte</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - Deadlines -->
<% if visible_in_role?("role_deadlines") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'deadlines' %>">
    <a class="nav-link" href="/deadlines">
      <i class="fas fa-fw fa-file-signature"></i>
      <span>Fristen- und Aktionsmelder</span>
    </a>
  </li>
<% end %>

<!-- Nav Item - Noticeboards -->
<% if visible_in_role?("role_noticeboard") %>
  <li class="nav-item <%= 'active' if params[:controller] == 'noticeboards' %>">
    <a class="nav-link" href="/noticeboards">
      <i class="fas fa-fw fa-clipboard-list"></i>
      <span>Schwarzes Brett</span>
    </a>
  </li>
<% end %>

<!-- Divider -->
<hr class="sidebar-divider my-0" />

<li class="nav-item <%= 'active' if params[:controller] == 'data_provider' %>">
  <a class="nav-link font-weight-bold" href="/data_provider">
    <i class="fas fa-fw fa-user-circle"></i>
    <span>Account</span>
  </a>
</li>
